<%- include("partials/header") %>
<h1>Speech to Text Engine</h1>


<button id="btn-start-recording" class="btn btn-primary">Start Recording</button>
<button id="btn-stop-recording" class="btn btn-primary" >Stop Recording</button>


<% if(recorded){ %>
<div>
    <h2>Output</h2>
    <p>
        <%=output%>
    </p>
</div>
<% } %>

<!-- <form action="/pic" enctype="multipart/form-data" method="POST">
    <div class="form-group" >
        <input class="form-control" type="file" name="pic" placeholder="image">
    </div>
    
    <div class="form-group">
        <button class="btn btn-lg btn-default btn-block btn-primary" type="submit">Submit</button>
    </div>
</form> -->

<!-- <a class="btn btn-primary" href="/audio" role="button">Go to audio</a> -->



<script src="../public/js/recorder.js"></script>

<%- include("partials/footer") %>