<%- include("partials/header") %>
<h1>Speech to Text Engine</h1>


<button id="btn-start-recording" class="btn btn-primary">Start Recording</button>
<button id="btn-stop-recording" class="btn btn-primary" >Stop Recording</button>


<% if(recorded){ %>
<div>
    <h2>Output</h2>
    <p>
        <%=output%>
    </p>
</div>
<% } %>


<script src="../public/js/recorder.js"></script>

<%- include("partials/footer") %>