<%- include("partials/header") %>

<div class="container headerC text-center align-middle">
    <h1 id="headerText"><strong>Welcome to the speech to text engine tester</strong></h1>
    <a class="btn btn-lg btn-default btn-success" href="/engine/microsoft">Microsoft</a>
    <a class="btn btn-lg btn-default btn-success" href="/engine/google">Google</a>

</div>

<%- include("partials/footer") %>