<%- include("../partials/header") %>


<div class="container headerC text-center align-middle">
    

    <h1 id="headerText"><strong>Transcription</strong></h1>
    <p class="transcription">
        <%=output%>
    </p>
    
    <button  class="btn-start-recording btn btn-primary">Start Recording</button>
    <button  class="btn-stop-recording btn btn-primary" >Stop Recording</button>

    
</div>    


<script src="../../public/js/recorder.js"></script>

<%- include("../partials/footer") %>